<header>
    <nav class="header">
        <div class="leftContainer">
            <a href="#">
                <img class="moreButton" src="../../assets/more.png" alt="Home">
            </a>
            <a>
                <img class="navigation" src="../../../assets/left.png">
            </a>
            <a>
                <img class="navigation" src="../../../assets/right.png">
            </a>
        </div>
        

        <div class="centerContainer">
            <a class="searchButton" href="#">
                <img class="buttonImg" src="../../assets/home.png" alt="Home">
            </a>
            <input class="search" placeholder="O que voce quer ouvir?">
        </div>
        
        <div>
            <a href="#">
                <img class="notificationButton" src="../../assets/notification.png" alt="Home">
            </a>
            <a>
                <img class="iconImg" src="../../../assets/icon.jpg">
            </a>
        </div>
        
    </nav>
</header>