<div class="bottom-bar">
    <div class="left-section">
      <img class="bottomImg" src="../../../assets/drake.jpg" alt="Album Cover">
      <div class="musicDesc">
        <span class="musicTitle">Do not Disturb</span>
        <span class="artistName">Drake</span>
      </div>
    </div>
    <div class="center-section">
      <!-- Controles do player da música -->
      <img class="advance_invert" src="../../../assets/lastPage.png">
      <img class="player" src="../../../assets/player.png">
      <img class="advance" src="../../../assets/lastPage.png">
    </div>
    <div class="right-section">
        <img class="mic" src="../../../assets/mic.png">
      <input type="range" min="0" max="100" value="50">
    </div>
</div>