.sidebar{
    height: 100%;
    width: 280px;
    background-color: #212121;
    position: fixed;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 10px;
}

.auxContainer{
    display: flex;
    align-items: center;
}
.library{
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-right: 10px;
}
.libraryText{
    color: #b3b3b3;
    font-family: JetBrains Mono;
    font-size: 15px;
    cursor: pointer;
}

.addPlaylist{
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-right: 10px;
}
.showMore{
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-right: 10px;
}