<div class="sidebar">
    <div class="container">
        <div class="auxContainer">
            <a>
                <img class="library" src="../../../assets/library.png">
            </a>
            <p class="libraryText">Sua Biblioteca</p>
        </div>
        <div class="auxContainer">
            <a>
                <img class="addPlaylist" src="../../../assets/add.png">
            </a>
            <a>
                <img class="showMore" src="../../../assets/arrow.png">
            </a>
        </div>
    </div>
    <div class="optionsContainer">
        @for (item of lista; track item){
            <button class="roudedButton">{{item}}</button>
        }
    </div>
    <div class="searchContainer">
        <a>
            <img class="searchImg" src="../../../assets/search.png">
        </a>
        <a>
            <img class="menuImg" src="../../../assets/menu.png">
        </a>
    </div>
    <div class="musicsContainer">
        <img class="albumCover" src="../../../assets/wildWest.jpg">
        <div class="infoContainers">
            <h1 class="albumTitle">23</h1>
            <h2 class="artist">Cental Cee</h2>
        </div>
    </div>



</div>