<div class="sidebar">
    <div class="container">
        <div class="auxContainer">
            <a>
                <img class="library" src="../../../assets/library.png">
            </a>
            <p class="libraryText">Sua Biblioteca</p>
        </div>
        <div class="auxContainer">
            <a>
                <img class="addPlaylist" src="../../../assets/add.png">
            </a>
            <a>
                <img class="showMore" src="../../../assets/arrow.png">
            </a>
        </div>
    </div>
</div>