.sidebar{
    height: 100%;
    width: 400px;
    background-color: #212121;
    position: fixed;
    overflow-y: auto;
    scrollbar-width: none;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 10px;
}

.auxContainer{
    display: flex;
    align-items: center;
}
.library{
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-right: 10px;
}
.libraryText{
    color: #b3b3b3;
    font-family: JetBrains Mono;
    font-size: 15px;
    cursor: pointer;
}

.addPlaylist{
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-right: 10px;
}
.showMore{
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-right: 10px;
}
.optionsContainer{
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.roudedButton{
    height: 30px;
    width: 80px;
    font-size: 12px;
    margin-left: 10px;
    border-radius: 20px;
    border: none;
    background-color: #535353;
    color: #b3b3b3;
    font-family: JetBrains Mono;
    cursor: pointer;
}

.searchContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 15px;
}

.searchImg{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.menuImg{
    width: 20px;
    height: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.musicsContainer{
    display: flex;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    cursor: pointer;
    &:hover {
        background-color: #121212;
    }
}

.albumCover{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}
.infoContainers{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px
}
.albumTitle{
    color:#b3b3b3;
    font-family: JetBrains Mono;
}

.artist{
    color: #b3b3b3;
    font-family: JetBrains Mono;
}