<div class="main">
    <div class="mainContainer">
        <img class="AlbumImg" src="../../../assets/drake.jpg">
        <div class="infoContainer">
            <p class="tipo">Álbum</p>
            <h2 class="nomeAlbum">More Life</h2>
            <div class="infoArtista">
                <img class="miniImg" src="../../../assets/drake-spotify.jpg">
                <p class="nomeArtista">Drake</p>
            </div>
        </div>
    </div>
    <div class="controlContainer">
        <app-round-button [width]="'50px'" [height]="'50px'" [iconSrc]="'../../../assets/right_black.png'"></app-round-button>
        <img class="aleatorio-button" src="../../../assets/aleatorio.png">
        <app-round-button [width]="'40px'" [height]="'40px'" [iconSrc]="'../../../assets/check.png'"></app-round-button>
        <img class="download-button" src="../../../assets/download.png">
        <a href="#">
            <img class="moreButton" src="../../assets/more.png" alt="Home">
        </a>
    </div>
</div>
