.main{
    position: fixed;
    right: 0;
    width: 79%;
    height: 100%;
    background-color: red;
}


.mainContainer{
    display: flex;
    padding: 20px;
}

.AlbumImg{
    width: 200px;
    height: 200px;
    margin-right: 15px;
}


.infoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}